@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@theme {
  --font-primary: "K2D", "sans-serif";
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true; /* эта тема будет по умолчанию */

  --color-base-100: #252527;
  --color-base-200: #151517;
  --color-base-300: #09090b;
  --color-primary: #f34700;
}

html,
body {
  overflow-x: hidden;
  background-color: #0a0d16;
  position: relative;
}

/* ====================== */

.bg-custom-gradient {
  background: linear-gradient(341deg, #020306 0%, #0e1323 100%);
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #f43098;
  border-radius: 8px;
  border: 2px solid #f0f0f0;
}
